.red-border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-gray{
    background-color: #121212;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(0.8);
}

.p-1{
    padding: 20px;
}

.m-1{
    margin:8px;
}

.rounded{
    border-radius: 15px;
}
/* Define the scrollbar style */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color when hovered */
  }
  
  /* Define the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background color for the track */
  }
  
  /* Define the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background-color: #666; /* Color of the scrollbar handle */
    border-radius: 6px; /* Round corners of the handle */
    border: 3px solid #333; /* Border around the handle */
  }
  
